
<div class="l-grid">
<div class="l-1-3">
  <a class="c-section__link" href="{{items1.0.category}}"><h2 class="c-section__title title-margin"> {{items1.0.category}}</h2></a>
{{#each items1}}
  <div class="c-preview">
    <a  href="/{{category}}/{{_id}}">
      <h2 class="c-preview__title">{{title}}</h2>
      <h3 class="c-preview__author">{{author.firstName}} {{author.lastName}}</h3>
      <!-- <a href="/authors/{{author.authorId}}"><h3>{{author.firstName}} {{author.lastName}}</h3></a> -->
      <!-- <h3>{{date}}</h3> -->
      <!-- <a href="{{category}}"><h3>{{category}}</h3></a> -->
      <!-- {{#each body }} -->
          <!-- <p> {{p}} </p> -->
      <!-- {{/each}} -->
      <p>{{body.0.p}}</p>
    </a>
  </div>
{{/each}}

</div>

<div class="l-1-3">
  <a class="c-section__link" href="{{items2.0.category}}"><h2 class="c-section__title title-margin"> {{items2.0.category}} </h2></a>
{{#each items2}}
  <div class="c-preview">
    <a href="/{{category}}/{{_id}}">
      <h2 class="c-preview__title">{{title}}</h2>
      <h3 class="c-preview__author">{{author.firstName}} {{author.lastName}}</h3>
      <!-- <a href="/authors/{{author.authorId}}"><h3>{{author.firstName}} {{author.lastName}}</h3></a> -->
      <!-- <h3>{{date}}</h3> -->
      <!-- <a href="{{category}}"><h3>{{category}}</h3></a> -->
      <!-- {{#each body }} -->
          <!-- <p> {{p}} </p> -->
      <!-- {{/each}} -->
      <p>{{ body.0.p }}</p>
    </a>
  </div>
{{/each}}
</div>

<div class="l-1-3">
  <a class="c-section__link" href="{{items3.0.category}}"><h2 class="c-section__title title-margin"> {{items3.0.category}} </h2></a>
{{#each items3}}
  <div class="c-preview">
    <a href="/{{category}}/{{_id}}">
      <h2 class="c-preview__title">{{title}}</h2>
      <h3 class="c-preview__author">{{author.firstName}} {{author.lastName}}</h3>
      <!-- <a href="/authors/{{author.authorId}}"><h3>{{author.firstName}} {{author.lastName}}</h3></a> -->
      <!-- <h3>{{date}}</h3> -->
      <!-- <a href="{{category}}"><h3>{{category}}</h3></a> -->
      <!-- {{#each body }} -->
          <!-- <p> {{p}} </p> -->
      <!-- {{/each}} -->
      <p>{{ body.0.p }}</p>
    </a>
  </div>
{{/each}}
</div>
</div>
